[Desktop Entry]
Version=1.0
Type=Application
Name=Google Drive
Comment=Search files in Google Drive from the Activities overview
Comment[es]=Buscar archivos de Google Drive desde la vista de Actividades
Exec=xdg-open https://drive.google.com/
Icon=folder-remote
Terminal=false
Categories=GNOME;Network;
OnlyShowIn=GNOME;
