[Desktop Entry]
Version=1.0
Type=Application
Name=Google Drive
Comment=Search Google Drive files from the Activities overview
Comment[es]=Buscar archivos de Google Drive desde la vista de Actividades
Exec=xdg-open https://drive.google.com/
Icon=io.github.jarrieta86.GoogleWorkspaceSearch.Drive
Terminal=false
Categories=GNOME;Network;
OnlyShowIn=GNOME;
